/*Estilos parallax*/
.container {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    perspective: 3px;
  }
  
  section {
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parallax-background {
    background-position: center center;
    transform: translateZ(-0.5px) scale(2);
    background-size: cover;
    z-index: -1;
    height: 70vh;
    background-color: black;
  }
  .parallax-content {
    z-index: -1;
    transform: translateY(-25vh) translateZ(0px) scale(1);
    padding-left: 70%;
    text-align: right;
  }
  .no-parallax-section {
    height: 30vh;
    width: 50%;
    font-family: var(--fontSecondary);
    font-size: 1.5rem;
    text-align: right;
    color: var(--black);
  }
  .no-parallax-content {
    text-align: center;
    padding: 30px;
  }
  
  .bg-1 {
    background: var(--green);
  }
 