:root {
  --black: hsl(0, 0, 0);
  --white: hsl(0, 0%, 100%);
  --green: rgb(179, 255, 64);
  --fontPrimary: "staatliches";
  --fontSecondary:"UnifrakturMaguntia";
}

@font-face {
  font-family: "staatliches";
  src: url("../assets/fonts/Staatliches.ttf") format("truetype");
}

@font-face {
  font-family:"UnifrakturMaguntia";
  src: url("../assets/fonts/UnifrakturMaguntia.ttf") format("truetype");
}

body {
  background-color: var(--black);
  font-size: 16px;
  font-family: var(--fontPrimary);
}
